
input{
    font-size: 20px;
    position:absolute;
}

#reset{
    display:none;
}

#head{
    text-align:center;
    font-family:Arial;
    font-weight:bold;
    font-size: 60px;
    color:green;
    text-shadow:4px 4px red;
}
p{
    font-size: 30px;
    font-family:Arial;
    color:white;
    text-shadow:2px 2px black;
}
#score{
    font-size:25px;
}

body{
    background-image:url(../images/background.jpeg);
    background-size: 100%;
    background-repeat:no-repeat;
    background-color:#3399ff;
}

#mole1, #mole2, #boom1, #boom2{
    width: 200px;
    height: 200px;
    position:absolute;
    display:none;
}

#mole3, #boom3{
    width: 240px;
    height: 240px;
    position:absolute;
    display:none;
}
#mole4, #boom4{
    width: 120px;
    height: 120px;
    position:absolute;
    display:none;
}
