<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WebProject</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <img id="mole1" src="assets/images/mole1.gif">
    <img id="mole2" src="assets/images/mole2.gif">
    <img id="mole3" src="assets/images/mole3.gif">
    <img id="mole4" src="assets/images/mole4.gif">
    <img id="boom1" src="assets/images/boom.gif">
    <img id="boom2" src="assets/images/boom.gif">
    <img id="boom3" src="assets/images/boom.gif">
    <img id="boom4" src="assets/images/boom.gif">
    <p id='hscore'></p>
    <p id='score'></p>
    <p id='timer'></p>
    <p id='lives'></p>
    <h1 id="head">Whack-A-Mole</h1>
    <input type="button" id="start" value="START" />
    <input type="button" id="survival" value="SURVIVAL" />
    <input type="button" id="insane" value="INSANE" />
    <audio id='bgmusic'>
        <source src='assets/audio/background.mp3' type="audio/mp3">
    </audio>
    <audio id='effect1'>
        <source src='assets/audio/effect.mp3'>
    </audio>
    <audio id='effect2'>
        <source src='assets/assets/audio/effect.mp3'>
    </audio>
    <audio id='effect3'>
        <source src='assets/audio/effect.mp3'>
    </audio>
    <audio id='effect4'>
        <source src='assets/audio/effect.mp3'>
    </audio>
</body>

</html>